# Python
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
.env
.env.*
staticfiles/
media/

# OS / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Virtualenv
venv/
env/
# ===============================
# Node / Frontend
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
