{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Safwan Restaurant</title>

  <link rel="icon" type="image/png" href="{% static 'img/title_image.png' %}" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen bg-white">

  {% include "partials/header.html" %}
  {% include "partials/cart_sidebar.html" %}
  {% include "partials/auth_modal.html" %}

  <main>
    {% block content %}{% endblock %}
  </main>

  <script src="{% static 'js/cart.js' %}" defer></script>
  <script src="{% static 'js/menu.js' %}" defer></script>
  {% include "partials/footer.html" %}
</body>
</html>
